.welcome{
    height: 100vh;
    // display: flex;
    position: relative;
    width: 100vw;
    overflow: hidden;
    *{
        transition: 3s;
    }
    .left{
        position: absolute;
        width: 50vw;
        height: 100vh;
        left: 0;
        transform: scaleX(-1);
        .fl1{
            position: absolute;
            top: 10%;
            left: 32vw;
            height: 50vh;
            aspect-ratio: 1.2/1;
            background-size: 45vh;
            background-repeat: no-repeat;
            transform: rotate(0deg) translate(-50%,-50%);
            background-image: url('../../image/f2.png');
            animation: zoom-in 53s infinite;
            
        }
        .fl2{
            position: absolute;
            top: 26%;
            left: 15vw;
            height: 50vh;
            aspect-ratio: 1.2/1;
            background-size: 45vh;
            background-repeat: no-repeat;
            transform: rotate(-90deg) translate(-50%,-50%);
            background-image: url('../../image/f2.5.png');
            animation: zoom-in 43s infinite;
        }
        .fl3{
            position: absolute;
            top: 80%;
            left: -14vw;
            height: 50vh;
            aspect-ratio: 1.2/1;
            background-size: 45vh;
            background-repeat: no-repeat;
            transform: rotate(45deg) translate(-50%,-50%);
            background-image: url('../../image/f2.png');
            animation: zoom-in 53s infinite;
        }
        .fl4{
            position: absolute;
            top: -32%;
            left: -20vw;
            height: 50vh;
            aspect-ratio: 1.2/1;
            background-size: 45vh;
            background-repeat: no-repeat;
            transform: rotate(-120deg) translate(-50%,-50%);
            background-image: url('../../image/f2.5.png');
            animation: zoom-in 43s infinite;
        }

    }
    .right{
        width: 50vw;
        // border: 1px solid red;
        // background-color: red;
        position: absolute;
        height: 100vh;
        right: 0;
        

        .fl1{
            position: absolute;
            top: 20%;
            left: 40vw;
            height: 50vh;
            aspect-ratio: 1.2/1;
            background-size: 45vh;
            background-repeat: no-repeat;
            transform: rotate(10deg) translate(-50%,-50%);
            background-image: url('../../image/f2.png');
            animation: zoom-in 53s infinite;
        }
        .fl2{
            position: absolute;
            top: 26%;
            left: 15vw;
            height: 50vh;
            aspect-ratio: 1.2/1;
            background-size: 45vh;
            background-repeat: no-repeat;
            transform: rotate(-90deg) translate(-50%,-50%);
            background-image: url('../../image/f2.5.png');
            animation: zoom-in 43s infinite;
        }
        .fl3{
            position: absolute;
            top: 80%;
            left: -18vw;
            height: 50vh;
            aspect-ratio: 1.2/1;
            background-size: 45vh;
            background-repeat: no-repeat;
            transform: rotate(60deg) translate(-50%,-50%);
            background-image: url('../../image/f2.png');
            animation: zoom-in 53s infinite;
        }
        .fl4{
            position: absolute;
            top: -32%;
            left: 45vw;
            height: 50vh;
            aspect-ratio: 1.2/1;
            background-size: 45vh;
            background-repeat: no-repeat;
            transform: rotate(-80deg) translate(-50%,-50%);
            background-image: url('../../image/f2.5.png');
            animation: zoom-in 43s infinite;
        }
        .fl5{
            position: absolute;
            top: 2%;
            left: -70vw;
            height: 50vh;
            aspect-ratio: 1.2/1;
            background-size: 45vh;
            background-repeat: no-repeat;
            transform: rotate(-180deg) translate(-50%,-50%);
            background-image: url('../../image/f2.5.png');
            animation: zoom-in 43s infinite;
        }
    }
}


@keyframes zoom-in {
    0%{
        scale: .9;
    }
    25%{
        scale: 1;
    }
    50%{
        scale:.9;
    }
    75%{
        scale: 1;
    }
    100%{
        scale: .9;
    }
    
}