#btns{
    height: 100vh;
    width: 100vw;
    background-color: red;


        .btn{
        position: absolute;
        font-size: 1.2rem;
        font-weight: 800;
        animation: show-ele 7s ease-in-out,blink 4s infinite ease ;
            z-index: 99999;

    }

    .btn-back{
          top: 5%;
            left:10%;
    }
    .btn-next{
            bottom: 5%;
            right: 5%;
            
            
    }
}