.flower1{
        height: 30vh;
        aspect-ratio: 1/1;
        top:  30%;
        left: 30%;
        background-image: url('../../image/f1.png');
        position: absolute;
        background-size: auto 30vh  ;
        background-repeat: no-repeat;
        background-position: center;

        &:nth-child(1){
                animation: flower1-ani1 3s ease-in-out, fmove infinite 17s ;
            top:  30%;
            left: 12%;
        }
        &:nth-child(2){
                animation: flower1-ani2 3s ease-in-out, fmove infinite 20s  ;
            top:  38%;
            left: 10%;
            height: 20vh;
            background-size: auto 20vh  ;
        }
}
.flower2{
        height: 30vh;
        aspect-ratio: 1.5/1;
        top: 12vh;
        left:83vw;
        background-image: url('../../image/f2.png');
        position: absolute;
        background-size: auto 30vh  ;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%,-50%);
        animation: flower1-ani1 3s ease-in-out, fmove infinite 16s  ;
        &:nth-child(3){
            background-image: url('../../image/f2.2.png');
            top: 8vh;
            left:73vw;
            animation: flower1-ani1 3.2s ease-in-out, fmove infinite 15s  ;
        }
        &:nth-child(5){
            background-image: url('../../image/f2.5.png');
            top: 87vh;
            left:13vw;
            animation: flower1-ani1 3.2s ease-in-out, fmove infinite 15s  ;
        }
        &:nth-child(4){
            background-image: url('../../image/f2.55.png');
            top: 95vh;
            left:20vw;
            animation: flower1-ani3 3.2s ease-in-out, fmove infinite 18s  ;
            height: 40vh;
            background-size: auto 40vh  ;
        }
}

.flower4{
        height: 0vh;
        aspect-ratio: 1/1;
        top: 100vh;
        left:93vw;
        background-image: url('../../image/f4.png');
        position: absolute;
        background-size: auto 30vh  ;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%,-50%);
        animation: flower1-ani1 3s ease-in-out, fmove infinite 25s  ;
        &:nth-child(4){
            background-image: url('../../image/f2.5.png');
            top: 87vh;
            left:13vw;
            animation: flower1-ani1 3.2s ease-in-out, fmove infinite 15s  ;
        }
}


@keyframes flower1-ani1{
    0%{
        height: 0;
        background-size: auto 0px  ;

    }
    100%{
            height: 30vh;
        background-size: auto 30vh  ;

    }
}
@keyframes flower1-ani2{
    0%{
        height: 0;
        background-size: auto 0px  ;

    }
    100%{
            height: 20vh;
        background-size: auto 20vh  ;

    }
}
@keyframes flower1-ani3{
    0%{
        height: 0;
        background-size: auto 0px  ;

    }
    100%{
            height: 40vh;
        background-size: auto 40vh  ;

    }
}