$border-color: 2px solid rgb(59, 4, 4);
$b-size:30;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.home{
    *{
        animation-delay: 10s;
    }    
    height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    position: relative;
    overflow: hidden;
    .bg{
        position: absolute;
         height: 100vh;
        width: 100vw;
        top: 0;
        background-image: url('../../image/bg.png');
        background-size: 100vw 100vh;
        animation: showf 3s ease-in-out ;
    }
    
    .petals{
        height: 100vh;
        width: auto;
        background-size: 100vh;
        background-image: url('../../image/petals.gif');
        opacity: .2;
    }

    .border-frame{
        z-index: 99;
            transition: 1s;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        height: 80vh;
        width: 80vw;
        .border{
            transition: 3.5s;
            position: absolute;
        }
        .border:nth-child(1){
            bottom: 0;
            left: 0;
            height: inherit;
            border-bottom: $border-color;
            animation: border-vert 3.5s ;

        }
          .border:nth-child(2){
            bottom: 0;
            right: 0;
            height: inherit;
            border-top: $border-color;
            animation: border-vert 3.5s ;

        }
          .border:nth-child(3){
            bottom: 0;
            right: 0;
            width:inherit;
            border-left: $border-color;
            animation: border-hor 3.5s ;

        }
          .border:nth-child(4){
            top: 0;
            right: 0;
            width:inherit;
            border-right: $border-color;
            animation: border-hor 3.5s ;
        }
  
    }
    
}




.border-frame.page1,.border-frame.page4{
    .border:nth-child(1){
        width:30vw;
    }
    .border:nth-child(2){
        width: 40vw;
    }
    .border:nth-child(3){
        height: 50vh;
    }
    .border:nth-child(4){
        height: 70vh;
    }
}
.border-frame.page2,.border-frame.page6{
    .border:nth-child(1){
        width:80vw;
    }
    .border:nth-child(2){
        width: 80vw;
    }
    .border:nth-child(3){
        height: 10vh;
    }
    .border:nth-child(4){
        height: 10vh;
    }
}
.border-frame.page3,.border-frame.page5{
    .border:nth-child(1){
        width:70vw;
    }
    .border:nth-child(2){
        width: 70vw;
    }
    .border:nth-child(3){
        height: 60vh;
        bottom: 50%;
    }
    .border:nth-child(4){
        height: 60%;
        top: 50%;
    }
}

@keyframes border-vert {
    from{
        width:0;
    }
}
@keyframes border-hor {
    from{
        height:0;
        
    }
    
}
@keyframes showf {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes fmove{
    0%{
       transform: rotate(-3deg)translate(-50%,-50%) ;
    }
    50%{
       transform: rotate(3deg) translate(-50%,-50%);
    }
     100%{
        transform: rotate(-3deg) translate(-50%,-50%);
    }
}