#BG{
        background-image: url('../../image/bg.png');
        height: 100vh;
        width: 100vw;
        background-size: 100vw 100vh;
        position: absolute;
        top: 0  ;
        left: 0;
}

.heart{
        position: absolute;
        height: 30vh;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        top:50%;
        left: 50%;
        background-image: url('../../image/heart.png');
        background-repeat: no-repeat;
        background-size: 25vh;
        background-position: center;
        // animation: hbeat infinite 1016s;
        height: 200vh;
}
.heart.active,.btns.active{
        opacity: 0;
        height: 200vh;
        background-size: 325vh;

}
.btns{
       position: absolute;
        height: 30vh;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        top:50%;
        left: 50%; 
        z-index: 999;
        color: white;
        animation: blink 2s infinite ease;
        display: flex;
        justify-content: center;
        align-items: center;
}

@keyframes blink {
        0%{
                opacity: .2;
        }
        20%,80%{
                opacity: 1;
        }
        100%{
                opacity: .2;
        }
}
