#BG{
        background-image: url('../../image/bg.png');
        height: 100vh;
        width: 100vw;
        background-size: 100vw 100vh;
        position: absolute;
        top: 0  ;
        left: 0;
}

.heart{
        position: absolute;
        height: 30vh;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        top:50%;
        left: 50%;
        background-image: url('../../image/heart.png');
        background-repeat: no-repeat;
        background-size: 25vh;
        background-position: center;
        // animation: hbeat infinite 1016s;
        height: 200vh;
        .name{
                position: absolute;
                transform: translate(-50%,-50%);
                top:50%;
                left: 50%;
                height: 50vw;
                aspect-ratio: 1/1;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('../../image/EV.png');
                background-size: 25vw;
     
        }
}
.heart.active,.btns.active{
        opacity: 0;
        height: 200vh;
        background-size: 325vh;

        .name{
                mask-size: 250vw;
                height: 500vw;
                background-size: 0vw;

        }

}
.btns{
       position: absolute;
        height: 30vh;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        top:80%;
        left: 50%; 
        z-index: 999;
        color: white;
        animation: blink 2s infinite ease;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: -1px -1px 0 #701212, 1px -1px 0 #a32020, -1px 1px 0 #aa2a2a, 1px 1px 0 #8b2c2c;
}

@keyframes blink {
        0%{
                opacity: .2;
        }
        20%,80%{
                opacity: 1;
        }
        100%{
                opacity: .2;
        }
}
